<a href="https://colab.research.google.com/github/rlsanders4/python-class/blob/main/python_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

## Data types

### Boolean

In [3]:
trueBoolean = True
falseBoolean = False

# Comparison operators: ==, !=, <, >, <=, >=

# Logical operators: and, or, not

### Integers and Floats

In [ ]:
myInt = 3
myFloat = 3.14
sum = myInt * myFloat

# Operators: +, -, *, / , %, **, //

range(10)

print()

### String

In [ ]:
# Create a string with double quotes
doubleQuoteString = "this is a string"

# Create a string with single quotes
singleQuoteString = 'this is also a string'

#Create a multiline string
multiLineString = """multiple
line
string
"""

# Concatinate two strings
concatination = "two strings " + "combined"

# Use special characters in a string
specialCharacterString = "multiple\nline\nstring\n"

# Escape the '\' character in a string
windowsPath = "C:\\my\\file\\path"

# Use a raw string
windowsPathRaw = R"C:\my\file\path"

# Format a string
name = "Ralph"
greeting = f"hello, my name is {name}"

# Get the length of a string
length = len(doubleQuoteString)

# Slice a string
stringSlice = doubleQuoteString[::]

print()

### Set

In [ ]:
# Unordered
# Unindexed
# Does not contain duplicates

# Initilization
mySet = {"first", "second", "third"}

# Add an element
mySet.add("fourth")

# Remove an element
mySet.remove("fourth")

mySet2 = {"fourth", "fifth", "sixth"}

# Union and intersection
mySet.union(mySet2)
mySet.intersection(mySet2)

# Access an element
for x in mySet:
    pass # Do something

print()

### List

In [ ]:
# Ordered
# Indexed

# Initialization
myList = ["first", "second", "third"]
comboList = [4.2, "hello", False]

# Access an element
myList[0]

# Change an element
myList[0] = "newElement"
myList[0] = "first"

# Add an element
myList.append("fourth")

# Sort
myList.sort()

# Split and join
stringList = "my list of strings".split(" ")
commaSeperatedString = ",".join(stringList)

# List comprehension
newList = []
for x in myList:
    if "t" in x:
        newList.append(x)

newList = [x for x in myList if "t" in x]


print()

### Tuple

In [ ]:
# Ordered
# Unchangeable
# Indexed

# Initialize
myTuple = ("first", "second", "third")

# Access an element
myTuple[0]

# Add an element
myList = list(myTuple)
myList.append("fourth")
myTuple2 = tuple(myList)

# Combine with other data structures
names = {[("john", "doe"), ("jane", "doe")],[("john", "smith"), ("alex", "smith")]}

print()

### Dictionary

In [ ]:
# Unordered/ordered

# Initialize
myDict = {"joe" : 400, "rob" : 500, "josh" : 600}

# Access an element
myDict["joe"]

# Change an element
myDict["rob"] = 550

# Add a new element
myDict["tom"] = 600


print()

## Flow Control

### If Statements

In [ ]:
# if
condition = True
if (condition):
    pass

# if, elif, else
a = 7
if (a < 5):
    pass
elif (a == 5):
    pass
else:
    pass

# Ternary operator
num = 12

result = ""
if (num > 10):
    result = "large"
else:
    result = "small"

result = "large" if num > 10 else "small"

print()

### While Loops

In [ ]:
num = 5
while (num > 0):
    print(num)
    num -= 1

### For Loops

In [ ]:
myList = ["first", "second", "third"]

for x in myList:
    print(x)

# Range: start, stop, step
for x in range(5,10,2):
    pass

### Functions

In [ ]:
def myFunction(number):
    return number * 2

# Default parameter
def myFunction2(number=5):
    return number * 2

# Arbitrary arguments (*args)
# Arguments are converted to a tuple
def myFunction3(*args):
    print(args[0])

# Keyword arguments
def myFunction4(arg1, arg2, arg3):
    return arg1 + arg2 + arg3

myFunction4(arg1="first ", arg3="third ", arg2="second ")

# Arbitrary keyword arguments (**kwargs)
# Generates a dictionary of keyword arguments
def myFunction5(**kwargs):
    result = ""
    for x,y in kwargs.items():
        result += x + ", " + y + "\n"
    return result

myFunction5(arg1="first ", arg3="third ", arg2="second ")

# Lambda
def normalFunc(a):
    return a * 5
normalFunc(5)

lambdaFunc = lambda a : a * 5
lambdaFunc(5)

print()

# Exercises

#### Exercise 1
Create a function that returns `True` if you pass in a palindrome (a reversable word, ex: kayak).

Example input:
```
exercise2("kayak")
```

Example output:
```
True
```

In [ ]:
def exercise1(str):
    # Replace this pass statement with your code
    pass



# Test the function
print(exercise1("kayak"))

#### Exercise 2
Create a function that reverses the order of words in a sentence.

Example input:
```
exercis2("Hello my name is John")
```
Example output:
```
John is name my Hello
```

In [ ]:
def exercise2(str):
    # Replace this pass statement with your code
    pass



# Test the function
print(exercise2("Hello my name is John"))

### Exercise 3
Create a function that removes duplicate elements from lists.

Example input:
```
numberList = [1, 2, 2, 3, 4, 5, 5]
exercise3(numberList)
```

Example output:
```
[1, 2, 3, 4, 5]
```

In [ ]:
def exercise3(numberList):
    # Replace this pass statement with your code
    pass


# Test the function
numberList = [1, 2, 2, 3, 4, 5, 5]
print(exercise3(numberList))

### Exercise 4
Create a function that counts the number of vowels in a sentence.

Example input:
```
exercise4("The quick brown fox jumps over the lazy dog")
```

Example output:
```
12
```

In [ ]:
def exercise4(sentence):
    # Replace this pass statement with your code
    pass


# Test the function
print(exercise4("The quick brown fox jumps over the lazy dog"))

### Exercise 5
Create a function that returns `True` if a given number is prime. A prime number is only divisible by itself and 1.

Example input:
```
exercise5(17)
```

Example output:
```
True
```

In [ ]:
def exercise5(num):
    # Replace this pass statement with your code
    pass

# Test the function
print(exercise5(17))